encryption = "age"

[age]
identity = "~/key.txt"
recipient = "age1x8xj89ps3n8j2cy6guv2n9l788q0ud39yq0pw72lxehgdl2fdv8qqa0lfw"

{{ $computerName := "" }}
{{ if eq .chezmoi.os "darwin" }}
{{ $computerName = (output "scutil" "--get" "ComputerName" | trim) }}
{{ else }}
{{ $computerName = (output "hostname" | trim) }}
{{ end }}

[data]
profile = "personal"
work = false
personal = true
computerName = {{ $computerName | quote }}
hostname = {{ $computerName | quote }}

[github]
refreshPeriod = "12h"

[template]
options = ["missingkey=zero"]
