export BASH_SILENCE_DEPRECATION_WARNING=1

export XDG_DATA_HOME=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache

export NODE_REPL_HISTORY=~/.node_history
export NODE_REPL_HISTORY_SIZE='32768'
export NODE_REPL_MODE='sloppy'
export PYTHONIOENCODING='UTF-8'
export LESS_TERMCAP_md="${yellow}"
export MANPAGER='less -X'

if tty -s; then
  export GPG_TTY=$(tty)
fi

{{- if and (eq .chezmoi.os "darwin") .features.brew -}}
export HOMEBREW_BAT=1
export HOMEBREW_GITHUB_API_TOKEN={{ onepasswordRead "op://Personal/Homebrew GitHub API Token/credential" | trim }}
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_NO_ENV_HINTS=1
{{- end -}}
