[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}
{{- if .signingKey }}
  signingkey = {{ .signingKey | quote }}
{{- end }}

{{- if .signingKey }}
[commit]
  gpgsign = true
{{- end }}

[include]
  path = ~/.gitconfig.local

[core]
  editor = nvim
  excludesfile = ~/.config/git/.gitignore.global
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[init]
  defaultBranch = master

[apply]
  whitespace = fix

[branch]
  sort = -committerdate

[fetch]
  all = true
  prune = true

[pager]
  branch = false
  grep = false

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = current
  followTags = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true

[status]
  submoduleSummary = true

[tag]
  sort = version:refname

[diff]
  algorithm = histogram
  colorMoved = plain
  renames = true

[diff "bin"]
  textconv = hexdump -v -C

[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red
  new = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[url "git@github.com:"]
  insteadOf = gh:
  pushInsteadOf = github:
  pushInsteadOf = git://github.com/

[url "git://github.com/"]
  insteadOf = github:

{{- $ghPath := lookPath "gh" }}
{{- if $ghPath }}
[credential "https://github.com"]
  helper = !{{ $ghPath }} auth git-credential

[credential "https://gist.github.com"]
  helper = !{{ $ghPath }} auth git-credential
{{- end }}

[alias]
  a = add
  ap = add -p

  cf = commit --fixup
  cm = commit --message
  ca = commit --amend -C HEAD --no-edit
  cane = commit --amend --no-edit
  caa = commit -a --amend -C HEAD
  amend = commit --amend
  ss = commit --message "chore: snapshot" --no-gpg-sign

  b = branch
  bm = branch --merged
  bnm = branch --no-merged
  branch-name = rev-parse --abbrev-ref HEAD

  co = checkout
  cob = !f() { git checkout -b "$1" 2>/dev/null || git checkout "$1"; }; f
  com = checkout master

  d = !git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat
  dc = diff --cached
  wd = diff --patience --word-diff
  dom = diff origin/master

  fo = fetch origin
  fop = !git fetch origin && git pull origin "$(git branch-name)"

  po = !git push origin "$(git branch-name)"
  pof = !git push --force-with-lease origin "$(git branch-name)"

  rc = rebase --continue
  ra = rebase --abort
  ri = rebase -i
  riom = !git fetch origin && git rebase -i origin/master
  reb = !r() { git rebase -i "HEAD~$1"; }; r

  cp = cherry-pick

  l = log --oneline
  ls = log --pretty=oneline -n 20 --graph --abbrev-commit

  s = status -sb --show-stash --no-renames
  g = grep --line-number

  whoami = config user.email
  lstag = !git ls-remote --tags origin

  fup = commit --fixup
  fup1 = commit --fixup HEAD~1
  fup2 = commit --fixup HEAD~2
  fup3 = commit --fixup HEAD~3

  asom = rebase -i --autosquash origin/master

  amend1s = !f(){ git commit --amend --no-edit -S "$(git rev-parse HEAD~1)"; }; f
  amend2s = !f(){ git commit --amend --no-edit -S "$(git rev-parse HEAD~2)"; }; f
  amend3s = !f(){ git commit --amend --no-edit -S "$(git rev-parse HEAD~3)"; }; f
  unamend = reset --mixed HEAD@{1}

  signlast = !f(){ n="${1:-1}"; git rebase -i --rebase-merges --exec "git commit --amend --no-edit -S" "HEAD~$n"; }; f

  sh = !git log -n 16 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git show
  fu = !git log -n 16 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup

  npr = "!gh pr create --web"
  opr = "!gh pr view --web"

  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[[:lower:]]"

[advice]
  addEmptyPathspec = false
  pushNonFastForward = false
  statusHints = false
