#!/usr/bin/env bash
set -euo pipefail

command -v code >/dev/null 2>&1 || {
  echo "=> VS Code CLI not found, skipping extension install"
  exit 0
}

extensions=(
{{ range .extensions }}  "{{ . }}"
{{ end -}}
)

installed=$(code --list-extensions)

for extension in "${extensions[@]}"; do
  if ! grep -qixF "$extension" <<<"$installed"; then
    echo "Installing $extension"
    code --install-extension "$extension" || echo "Failed to install $extension"
    sleep 1
  fi
done
